.attendance-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .attendance-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .attendance-details h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }